/* Container principal */
.container {
    font-family: 'Arial', sans-serif;
    margin: 0 auto;
  }
  
  /* Navbar */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #bdd3d9;
    padding: 10px 20px;
    width: 100%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Adiciona sombra */
  }

  .menus {
    color: #ecf0f1; /* Branco suave */
    padding: 80px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-decoration: none; /* Remove sublinhado */
  }

  .menus:hover {
    color: #95a5a6; /* Cor de destaque ao passar o mouse */
  }
  
  .navbar .logo img {
    width: 50px;
  }
  .navbar .menu {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  .navbar .menu a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  .navbar .menu a.active {
    color: #007BFF;
  }
  
  /* Perfil Container */
  .perfil-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background: #f9f9f9;
  }
  
  .perfil-image img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid #007BFF;
  }
  
  .perfil-info {
    text-align: center;
    margin-top: 20px;
  }
  
  .perfil-info h1 {
    font-size: 30px;
    font-weight: bold;
  }
  
  .perfil-info p {
    font-size: 16px;
    margin: 5px 0;
  }
  
  .perfil-info .cargo {
    font-weight: bold;
    color: #555;
  }
  
  .perfil-info span {
    font-weight: normal;
    color: #777;
  }
  
  /* Seção de Experiência */
  .experiencia-container {
    width: 100%;
    margin-top: 30px;
  }
  
  .experiencia {
    background-color: #d0e7f0;
    border-radius: 8px;
    padding: 20px;
  }
  
  .experiencia h2 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .cargo, .outros-cargos {
    background-color: #ffffff;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .cargo-info p, .outros-cargos p {
    font-size: 14px;
    margin: 5px 0;
  }
  
  .cargo-title {
    font-weight: bold;
    font-size: 18px;
  }
  